# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Trash and resource forks
.Trashes
._*

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
dist/
build/
*.spec

# VS Code settings
.vscode/
